@font-face {
    font-family: 'latoregular';
    src: url('../fonts/fonts-packs/lato-regular/lato-regular-webfont.eot');
    src: url('../fonts/fonts-packs/lato-regular/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fonts-packs/lato-regular/lato-regular-webfont.woff') format('woff'),
         url('../fonts/fonts-packs/lato-regular/lato-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_slabregular';
    src: url('../fonts/fonts-packs/roboto-slab/robotoslab-regular-webfont.eot');
    src: url('../fonts/fonts-packs/roboto-slab/robotoslab-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fonts-packs/roboto-slab/robotoslab-regular-webfont.woff') format('woff'),
         url('../fonts/fonts-packs/roboto-slab/robotoslab-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latoblack';
    src: url('../fonts/fonts-packs/lato-black/lato-black-webfont.eot');
    src: url('../fonts/fonts-packs/lato-black/lato-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fonts-packs/lato-black/lato-black-webfont.woff') format('woff'),
         url('../fonts/fonts-packs/lato-black/lato-black-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: 'latoregular';
}

.active {
    color: blue !important;
}